# Copyright (c) Team CharLS.
# SPDX-License-Identifier: BSD-3-Clause

# Ignore build output
build/
bin/
TestResults/
*.opensdf
*.sdf

# Ignore files created by Visual Studio
.vs/
.vscode/
**/Properties/launchSettings.json
*.csproj.user

# Ignore files created by MSBuild
*.binlog

# NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/packages/*

# except build/, which is used as an MSBuild target.
!**/packages/build/
